<h1>Config Admin Tools</h1>
<form action="/admin" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button type="confirm">ok</button>
</form>